@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* <<<< add Font-Face >>>> */
  @font-face {
    font-family: iranMedium;
    src: url("/assets/font/IRANSansX-Medium.woff") format(woff);
  }
  @font-face {
    font-family: iranBold;
    src: url("/assets/font/IRANSansX-Bold.woff") format(woff);
  }
  @font-face {
    font-family: iranBlack;
    src: url("/assets/font/IRANSansX-Black.woff");
  }
  body{
    @apply m-0 py-0 box-border text-base text-font-100 font-iranMedium  bg-background-200;
  }
}

@layer components{
  .link{
   @apply block text-xl font-iranBlack  duration-300 ease-linear hover:text-secondary-100;
  }
  .link_active{
   @apply block text-xl font-iranBlack text-secondary-100;
  }
  .btn_primary{
    @apply flex justify-center items-center w-[120px] h-10 rounded-lg bg-primary-default text-white text-lg duration-300 hover:bg-primary-100;
  }
  .btn_secondary{
    @apply flex justify-center items-center w-[120px] h-10 rounded-lg bg-secondary-default text-white text-lg duration-300 hover:bg-secondary-100 ; 
  }
  /* custom style swiper navigation */
    .btn_next{
      @apply flex justify-center items-center w-10 h-10 text-3xl rounded-50 duration-300 hover:bg-primary-100 hover:text-white;
    }
    .btn_prev{
      @apply flex justify-center items-center w-10 h-10 text-3xl rounded-50 duration-300 hover:bg-primary-100 hover:text-white;
    }
    .title{
      @apply block text-center font-iranBlack text-3xl text-font-300;
    }
/* custom style swiper navigation */

}
/* custom style swiper Cards */
.swiperCard .swiper{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto !important;
  width: 250px;
  height: 350px;
}
.swiperCard .swiper-cards{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 350px;
  background-color: #fff;
  }
  .swiperCard ,.swiperCard .swiper-slide  {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 250px !important;
    height: 350px !important;
    color: white;
    background-color: #fff;
    border-radius: 0.5rem;
    }
   .swiperCard .swiper-slide  {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 250px !important;
      height: 350px !important;
      color:#3D434F;
      background-color: #fff;
      border: 1px solid #0284C7;
      border-radius: 0.5rem;
      }
/* custom style swiper Cards */
