@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* <<<< add Font-Face >>>> */
  @font-face {
    font-family: iranMedium;
    src: url("/assets/font/IRANSansX-Medium.woff") format(woff);
  }
  @font-face {
    font-family: iranBold;
    src: url("/assets/font/IRANSansX-Bold.woff") format(woff);
  }
  @font-face {
    font-family: iranBlack;
    src: url("/assets/font/IRANSansX-Black.woff");
  }
  body{
    @apply m-0 py-0 box-border text-base text-font-100 font-iranMedium  bg-background-200;
  }
}

@layer components{
  .link{
   @apply block text-xl font-iranBlack  duration-300 ease-linear hover:text-secondary-100;
  }
  .link_active{
   @apply block text-xl font-iranBlack text-secondary-100;
  }
  .btn_primary{
    @apply flex justify-center items-center w-[120px] h-10 rounded-lg bg-primary-default text-white text-lg duration-300 hover:bg-primary-100;
  }
  .btn_secondary{
    @apply flex justify-center items-center w-[120px] h-10 rounded-lg bg-secondary-default text-white text-lg duration-300 hover:bg-secondary-100 ; 
  }
}