@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* <<<< add Font-Face >>>> */
  @font-face {
    font-family: iranMedium;
    src: url("/assets/font/IRANSansX-Medium.woff") format(woff);
  }
  @font-face {
    font-family: iranBold;
    src: url("/assets/font/IRANSansX-Bold.woff") format(woff);
  }
  @font-face {
    font-family: iranBlack;
    src: url("/assets/font/IRANSansX-Black.woff");
  }
  body{
    @apply m-0 py-0 box-border text-base text-font-100 font-iranMedium  bg-background-200;
  }
}

@layer components{
  .link{
   @apply block text-xl font-iranBlack  duration-300 ease-linear hover:text-secondary-100;
  }
  .link_active{
   @apply block text-xl font-iranBlack text-secondary-100;
  }
  .btn_primary{
    @apply flex justify-center items-center w-[120px] h-10 rounded-lg bg-primary-default text-white text-lg duration-300 hover:bg-primary-100;
  }
  .btn_secondary{
    @apply flex justify-center items-center w-[120px] h-10 rounded-lg bg-secondary-default text-white text-lg duration-300 hover:bg-secondary-100 ; 
  }
}
/* custom style swiper Cards */
.swiperCard .swiper{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto !important;
  width: 250px;
  height: 350px;
}
.swiperCard .swiper-cards{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 350px;
  }
  .swiperCard , .swiper-slide  {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 250px !important;
    height: 350px !important;
    color: white;
    border-radius: 0.5rem;
    }
   .swiperCard .swiper-slide  {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 250px !important;
      height: 350px !important;
      color: white;
      border-radius: 0.5rem;
      }
.swiperCard .swiper-slide:nth-child(1n) {
  background-color: rgb(206, 17, 17);
}

.swiperCard  .swiper-slide:nth-child(2n) {
  background-color: rgb(0, 140, 255);
}

.swiperCard .swiper-slide:nth-child(3n) {
  background-color: rgb(10, 184, 111);
}

.swiperCard .swiper-slide:nth-child(4n) {
  background-color: rgb(211, 122, 7);
}

.swiperCard .swiper-slide:nth-child(5n) {
  background-color: rgb(118, 163, 12);
}

.swiperCard .swiper-slide:nth-child(6n) {
  background-color: rgb(180, 10, 47);
}

.swiperCard .swiper-slide:nth-child(7n) {
  background-color: rgb(35, 99, 19);
}

.swiperCard .swiper-slide:nth-child(8n) {
  background-color: rgb(0, 68, 255);
}

.swiperCard .swiper-slide:nth-child(9n) {
  background-color: rgb(218, 12, 218);
}

.swiperCard .swiper-slide:nth-child(10n) {
  background-color: rgb(54, 94, 77);
} 
/* custom style swiper Cards */
